.Search {
    display: flex;
    background-color: #fff;
    border-radius: 10rem;
    padding-left: 4rem;
    margin-left: -32rem;
    transition: all .3s;
    display: flex;
    align-items: center;
}

.Search:focus-within {
    transform: translateY(-2px);
    box-shadow: 0 0.7rem 3rem rgba(101, 90, 86, 0.08); 
}

.text {
    width: 25rem;
    font-size: 1.7rem;
    outline: none;
    border: none;
}

.text::placeholder {
    color: #c4c4c4;
}

.btn {
    display: flex;
    align-items: center;
    color: #fff;
    background-image: linear-gradient(to right bottom, #eafb89, #F48982);
    padding: 1.2rem 3rem;
    border-radius: 10rem;
    border: none;
    transition: all .3s;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}

.btn:hover {
    transform: scale(1.07);
}

.btn svg {
    height: 2.2rem;
    width: 2.2rem;
    fill: currentColor;
    margin-right: 1rem;
}

.btn span {
    font-size: 1.2rem;
}